.instructionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0.3rem;
}

.instructionsHeading {
    display: flex;
    justify-content: space-around;
}

.instructionsList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0.3rem;
}

.instruction {
    padding: 0.3rem;
}