.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkgray;
    width: 100%;
    height: 90%;
}

.gameRegion {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    background-color:grey;
    background-image:url("../assets/images/background.png");  
    width: 100%;
    max-width: 50rem;
    height: 100%;
}

.playerRegion {
    position: relative;
    width: 100%;
    height: 6%;
}

.player {
    position: absolute;     
}

.playerImage {
    height: 30px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: coral;
    width: 20%;
    height: 100%;
}

.playButton {
    width: 80%;
    margin: 1rem;
}
